<div id="project_team" class="col-md-6">
  <div id="container">
  <h3>Select the Project Team</h3>
      <%= form_for(@projectTeam) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :project_id, :value => @project.id %>
        <div class="col-lg-3"><%= f.label :Team_Members %></div>
        <div class="col-lg-3"><%= f.collection_select :user_id, User.all, :id, :email %></div>
      </div>
      <br/>
      <div class="form-group">
        <div class="col-lg-3">
          <%= f.submit "Add Member", :class => "btn btn-default" %>
        </div>
        <div class="col-lg-3"></div>
      </div>
<br />
</div>
</div>
<% end %>

