<script>

$(document).ready(function() {
    $('#myModal').appendTo("body");
});

</script>



<div id="project Details" class="col-md-4">
  <h3>Project :<%= @project.projectName %></h3><br/>
  <table class = "table table-striped">
    <tr>
      <td><h4><%= link_to "Documents", documents_path(:projectId => @project.id) %></h4></td>
    </tr>
    <tr>
      <td><h4><%= link_to "Activities", activities_path(:projectId => @project.id) %></h4></td>
    </tr>
    <tr>
      <td><h4><%= link_to "Issues", issues_path(:projectId => @project.id) %></h4></td>
    </tr>
 </table>
</div>

<div id="project" class="col-md-6">
   <h4>Project Details </h4>
  <table class="table table-bordered">
    <tr class="success">
      <th>Description</th>
      <td><%= @project.description %></td>
    </tr>
    <tr class="info">
      <th>Start Date:</th>
      <td><%= @project.startDate %></td>
    </tr>
    <tr class="warning">
      <th>Expected Completion Date:</th>
      <td><%= @project.endDate %></td>
    </tr>
  </table>
  <br/>
  <div class="col-lg-12 text-right"><%= link_to 'Edit Project Details', edit_project_path(@project), :class => "btn btn-default" %> |
    <%= link_to 'Project List', projects_path, :class => "btn btn-info" %></div>
  <br/>
  <h4>Project Team </h4>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    <% @project.users.each do |team| %>
        <tr>
          <td><%= team.firstName %>&nbsp&nbsp<%= team.lastName %></td>
          <td><%= team.email %></td>
        </tr>
    <% end %>
</tbody>
</table>
<br/>
  <% if current_user.role_id == 1 %>
    <div class="col-lg-12 text-right">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Add Team Member
      </button>
    </div>
  <% end %>
<br/>


</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="z-index: 99999;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Select the Project Team</h3>
      </div>

      <div class="modal-body">

        <%= form_for(@projectTeam) do |f| %>
            <div class="form-group">
              <%= f.hidden_field :project_id, :value => @project.id %>
              <div class="col-lg-6"><%= f.label :Team_Members %></div>
              <div class="col-lg-6"><%= f.collection_select :user_id, @projectTeamList, :id, :email %></div>
            </div>
            <br/>
            <div class="form-group">
              <div class="col-lg-6"></div>
              <div class="col-lg-6"><%= f.submit "Add Member", :class => "btn btn-success" %></div>
            </div>
            <br />
            <% end %>
      </div>

      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
